
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="qc:admins" content="01676642316411516375" />
<meta name="keywords" content="{{ lay.base.keywords }}">
<meta name="description" content="{{ lay.base.description }}">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title><%= title %></title>
<%- include("../link.ejs") %>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear">
  <div class="wrap">
    <div class="content" style="margin-right:0">
      <div class="fly-tab">

        <div class="layui-form-item">
          <div class="layui-inline">
            <div class="layui-form" action="">
              <div class="layui-form-item">
                <label class="layui-form-label">学科分类</label>
                <div class="layui-input-inline">
                  <select name="discipline" id="disciplines" lay-filter="disciplines">
                    <option value="0">全部</option>
                    <option value="哲学">哲学</option>
                    <option value="经济学">经济学</option>
                    <option value="法学">法学</option>
                    <option value="教育学">教育学</option>
                    <option value="文学">文学</option>
                    <option value="历史学">历史学</option>
                    <option value="理学">理学</option>
                    <option value="工学">工学</option>
                    <option value="农学">农学</option>
                    <option value="医学">医学</option>
                    <option value="军事学">军事学</option>
                    <option value="管理学">管理学</option>
                    <option value="艺术学">艺术学</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-inline">
            <form action="/search/wisdom" class="fly-search">
              <div class="layui-form-item">
              <i class="iconfont icon-sousuo"></i>
              <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="keyword">
              </div>
            </form>

          </div>
        </div>


      </div>


      <ul class="fly-list" id="userlist">

      </ul>

    </div>
  </div>

</div>

<%- include("../footer.ejs") %>

<script>
layui.use(['jquery','form','layer','flow'], function(){

  var form = layui.form()
  ,$ = layui.jquery
  ,layer = layui.layer
  ,flow = layui.flow;
  discipline = '0';

  flow.load({
    elem: '#userlist' //指定列表容器
    ,scrollElem: '#userlist'
    ,isAuto: false
    ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
      var lis = [];
      //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
      $.post('/wisdom/discipline/'+discipline+'/page/'+page, function(res){
        //假设你的列表返回在data集合中
        layui.each(res.data, function(index, item){
          var string = '';
          string += '<li class="fly-list-li">';
          string += '<a href="users/home?uid='+ item.objectId +'" class="fly-list-avatar"><img src="'+ item.avatar +'" alt=""></a>';
          string += '<h2 class="fly-tip">';
          string += '<a href="users/home?uid='+item.objectId+'"> '+ item.nickname +' </a>';
          string += '</h2>';
          string += '<p>';
          string += '<span>'+ item.d_disciplinesFields +' ></span>';
          string += '<span>'+ item.d_firstDisciplines +' ></span>';
          string += '<span>'+ item.d_secondDisciplines +'</span>';
          string += '<span class="fly-list-hint">';
          if(item.d_consultCount===undefined) item.d_consultCount=0;
          string += '<i class="iconfont" title="回答">&#xe60c;</i> '+ item.d_consultCount +' 咨询';
          if(item.d_follower===undefined) item.d_follower=0;
          string += '<i class="iconfont" title="人气">&#xe60b;</i> '+ item.d_follower +' 关注';
          string += '</span>';
          string += '</p>';
          string += '</li>';
          lis.push( string );
        });

        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
        next(lis.join(''), page < res.pages);
      });
    }
  });

  form.on('select(disciplines)', function(data){
    //传递一个类别，返回一个json数组
    discipline = data.value;
    $("#userlist").empty();
    flow.load({
      elem: '#userlist' //指定列表容器
      ,scrollElem: '#userlist'
      ,isAuto: false
      ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
        var lis = [];
        //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
        $.post('/wisdom/discipline/'+discipline+'/page/'+page, function(res){
          //假设你的列表返回在data集合中
          layui.each(res.data, function(index, item){
            var string = '';
            string += '<li class="fly-list-li">';
            string += '<a href="users/home?uid='+ item.objectId +'" class="fly-list-avatar"><img src="'+ item.avatar +'" alt=""></a>';
            string += '<h2 class="fly-tip">';
            string += '<a href="users/home?uid='+item.objectId+'"> '+ item.nickname +' </a>';
            string += '</h2>';
            string += '<p>';
            string += '<span>'+ item.d_disciplinesFields +' ></span>';
            string += '<span>'+ item.d_firstDisciplines +' ></span>';
            string += '<span>'+ item.d_secondDisciplines +'</span>';
            string += '<span class="fly-list-hint">';
            if(item.d_consultCount===undefined) item.d_consultCount=0;
            string += '<i class="iconfont" title="回答">&#xe60c;</i> '+ item.d_consultCount +' 咨询';
            if(item.d_follower===undefined) item.d_follower=0;
            string += '<i class="iconfont" title="人气">&#xe60b;</i> '+ item.d_follower +' 关注';
            string += '</span>';
            string += '</p>';
            string += '</li>';
            lis.push( string );
          });

          //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
          //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
          next(lis.join(''), page < res.pages);
        });
      }
    });
    // $.post(
    //   "/search/usersOfSelect/page/1",
    //   {
    //     discipline: data.value,
    //   },
    //   function (data, status){
    //     if(data == 'error'){
    //       layer.msg("搜索失败");
    //     }else if(data.length>0){
    //       $("#userlist").empty();
    //       for(var i=0; i<data.length; i++){
    //         var string = '';
    //         string += '<li class="fly-list-li">';
    //         string += '<a href="users/home?uid='+ data[i].objectId +'" class="fly-list-avatar"><img src="'+ data[i].avatar +'" alt=""></a>';
    //         string += '<h2 class="fly-tip">';
    //         string += '<a href="users/home?uid='+data[i].objectId+'"> '+ data[i].nickname +' </a>';
    //         string += '</h2>';
    //         string += '<p>';
    //         string += '<span>'+ data[i].d_disciplinesFields +' ></span>';
    //         string += '<span>'+ data[i].d_firstDisciplines +' ></span>';
    //         string += '<span>'+ data[i].d_secondDisciplines +'</span>';
    //         string += '<span class="fly-list-hint">';
    //         if(data[i].d_consultCount===undefined) data[i].d_consultCount=0;
    //         string += '<i class="iconfont" title="回答">&#xe60c;</i> '+ data[i].d_consultCount +' 咨询';
    //         if(data[i].d_follower===undefined) data[i].d_follower=0;
    //         string += '<i class="iconfont" title="人气">&#xe60b;</i> '+ data[i].d_follower +' 关注';
    //         string += '</span>';
    //         string += '</p>';
    //         string += '</li>';
    //         $("#userlist").append(string);
    //       }
    //
    //     }else{
    //       $("#userlist").empty();
    //       var string = '';
    //       string = '<div class="fly-none">并无相关数据</div>';
    //       $("#userlist").append(string);
    //     }
    //   }
    // )
  });

});
</script>

</body>
</html>
