<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>One | About Us</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
<link href="/stylesheets/flexslider.css" rel="stylesheet" />
<link href="/stylesheets/style1.css" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<script src="/javascripts/jquery.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }</script>
</head>
<body>
  <div class="header">
    <div class="container"> <a class="navbar-brand" href="/"> 博士直通车 </a>
      <div class="menu"> <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
        <ul class="nav" id="nav">
          <li class="current"><a href="/about">关于我们</a></li>
          <li><a href="/contact">联系我们</a></li>
          <li><a href="users/login">登录</a></li>
          <li><a href="users/reg">注册</a></li>
          <div class="clear"></div>
        </ul>
        <script type="text/javascript" src="js/responsive-nav.js"></script>
      </div>
    </div>
  </div>
<div class="about">
  <div class="container">
    <section class="title-section">
      <h1 class="title-header">About Our Company</h1>
    </section>
  </div>
</div>
<div class="about_content">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> <img src="/res/images/a2.jpg" class="img-responsive" alt=""/>
        <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
        <br>
        <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.</p>
      </div>

    </div>
  </div>
</div>

<div class="highlight-info">
  <div class="overlay spacer">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-smile-o fa-5x"></i>
          <h4>120+ Happy Clients</h4>
        </div>
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-check-square-o fa-5x"></i>
          <h4>600+ Projects Completed</h4>
        </div>
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-trophy fa-5x"></i>
          <h4>25 Awards Won</h4>
        </div>
        <div class="col-sm-3 col-xs-6"> <i class="fa fa-map-marker fa-5x"></i>
          <h4>3 Offices</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer_bottom">
    <div class="copy">
      <p>Copyright &copy; 2015 广州中青博信息科技有限公司. Powered By <a href="/" target="_blank" title="博士直通车">博士直通车</a> </p>
    </div>
  </div>
</div>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
</body>
</html>
