<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>联系我们 | 博士直通车</title>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
<link href="/stylesheets/style1.css" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<script src="/javascripts/jquery-2.1.1.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
  <div class="header">
    <div class="container"> <a class="navbar-brand" href="/"> 博士直通车 </a>
      <div class="menu"> <a class="toggleMenu" href="#"><img src="/res/images/nav_icon.png" alt="" /> </a>
        <ul class="nav" id="nav">
          <li><a href="/about">关于我们</a></li>
          <li><a href="/contact">联系我们</a></li>
          <li class="current"><a href="/feedback">反馈</a></li>
          <li><a href="users/login">登录</a></li>
          <li><a href="users/reg">注册</a></li>
          <div class="clear"></div>
        </ul>
        <script type="text/javascript" src="/javascripts/responsive-nav.js"></script>
      </div>
    </div>
  </div>
<div class="contact" style="padding-bottom: 100px;">
  <div class="container">
    <div class="contact_bottom">
      <h3>反馈</h3>
      <p>您对本站的网页设计,用户体验等方面有很好的建议和意见； 如果您在浏览过程中发现了错误的文字或链接； 如果您想与本站在某一方面进行合作； 欢迎您留言反馈。</p>
      <form method="post" action="">
        <div class="contact-to">
          <input id="name" name="name" type="text" class="text" value=""  placeholder="姓名">
          <input id="email" name="email" type="text" class="text" value=""  style="margin-left: 10px" placeholder="邮件">
        </div>
        <div class="text2">
          <textarea id="content" name="content" value=""  placeholder="内容.."></textarea>
        </div>
        <div> <a id="submit" class="submit">发送</a> </div>
      </form>
    </div>

  </div>
</div>
<div class="footer">
  <div class="footer_bottom">
    <div class="copy">
      <p>Copyright &copy; 2015 广州中青博信息科技有限公司. Powered By <a href="/" target="_blank" title="博士直通车">博士直通车</a> </p>
    </div>
  </div>
</div>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.flexslider.js"></script>
<script src="/res/layui/layui.js"></script>
<script>
  layui.use(['layer','jquery'],function(){
    var $ = layui.jquery, layer = layui.layer;
    $("#submit").click(function(){
      $.post(
        "/feedback",
        {
          name: $("#name").val(),
          email: $("#email").val(),
          content: $("#content").val(),
        },
        function(data){
          if(data == 'success'){
            layer.msg("感谢您的反馈，我们将会做得更好。");
          }else{
            layer.msg(data);
          }

        }
      )
    });

  })
</script>
</body>
</html>
