<div class="header">
  <div class="main">
    <a class="logo" href="/" title="博士直通车">博士直通车</a>
    <div class="nav">

      <a  <% if(title =='博士直通车-话题'){ %>class="nav-this"<% } %> href="/topic">
        <i class="iconfont icon-wenda"></i>问答
      </a>
      <a <% if(title =='智库-博士直通车'){ %> class="nav-this" <% } %> href="/wisdom">
        <i class="iconfont icon-ui"></i>智库
      </a>
    </div>

    <div class="nav-user">
      <!-- 未登入状态 -->


      <% if(!user) { %>
        <a class="unlogin" href="user/login.html"><i class="iconfont icon-touxiang"></i></a>
        <span><a href="/users/login">登入</a><a href="/users/reg">注册</a></span>

      <% } else { %>
        <a class="avatar" href="/users/index">
          <img src= <%= avatar %> >
          <cite><%= user %></cite>
          <i><%= identity %></i>
        </a>
        <div class="nav">
          <a href="/users/set"><i class="iconfont icon-shezhi"></i>设置</a>
          <a href="/users/logout"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退了</a>
        </div>
      <% } %>


    </div>
  </div>
</div>
