
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>博士直通车</title>
  <%- include('./meta.ejs') %>
  <%- include('./link.ejs') %>
</head>
<body>

<%- include('./header.ejs') %>

<div class="main layui-clear">
  <h1>博士直通车网站首页</h1>
</div>

<%- include('./footer.ejs') %>

</body>
</html>
