<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>登入 - <%= title %></title>
<%- include("../link.ejs") %>
</head>
<body>

<%- include("../header.ejs") %>

<div class="main layui-clear">
  <h2 class="page-title">登入</h2>
  <div class="layui-form layui-form-pane">
    <form method="post" action="/users/login">
      <div class="layui-form-item">
        <label for="L_phone" class="layui-form-label">手机或邮箱</label>
        <div class="layui-input-inline">
          <input type="text" id="L_phone" name="phone" required lay-verify="phone" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_pass" class="layui-form-label">密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">密码至少为6位</div>
      </div>
      <div class="layui-form-item">
        <a id="submit" class="layui-btn" lay-filter="test">立即登录</a>
        <span style="padding-left:20px;">
          <a href="/users/forget">忘记密码？</a>
        </span>
      </div>
    </form>
  </div>
</div>

<%- include("../footer.ejs") %>
<script>

layui.use(['jquery','layer'], function(){
  var layer = layui.layer
  var $ = layui.jquery;
  //监听提交
  $("#submit").click(function(){
    $.post(
      "/users/login",
      {
        phone: $("#L_phone").val(),
        pass: $("#L_pass").val()
      },
      function(data,status){
        if(data=='success'){
          window.location.href="/topic";
        }else{
          layer.msg(data);
        }
      }
    )
  });
});
</script>
</body>
</html>
